.gray {
    color: gray;
    font-size: 0.92rem;
}

.post {
    min-width: 18rem;
    height: 32rem;
}

.img-fluid {
    height: 15rem;
}

#profile {
    margin: auto;
    max-width: 25rem;
}

.profile-img {
    height: 10rem;
    width: 11rem;
}